a:link, a:visited {
	color: white;
}
a.actual:link, a.actual:visited {
	color: white;
	text-decoration: none;
}
#texto1{
	color: black;
}
.img2 {
		-webkit-transition: all 1s ease-out;
		-moz-transition: all 1s ease;
		-o-transition: all 1s ease;
		transition: all 1s ease;
}
.img2:hover {
		-webkit-transform: rotate(10deg);
		-moz-transform: rotate(10deg);
		-o-transform: rotate(10deg);
		transform: rotate(10deg);
		border: 2px solid #82c3a6;
}
.img3{
-webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
transition: all 1s ease-in-out;
}
.img3:hover{
-webkit-transform: translate(20px, -5px);
-moz-transform: translate(20px, -5px);
-o-transform: translate(20px, -5px);
-ms-transform: translate(20px, -5px);
transform: translate(20px, -5px);
border: 2px solid #82c3a6;
}
body{
  background-color: #02010a;
  font-family: Dancing Script;
  }
article
{
	box-sizing:  border-box;
	float:left;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  color: white;
}
#texto{
	line-height: 80px;
}
#text{
	line-height: 20px;
}
#texto2{
	text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
img{
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}
	#columna1
	{
		height: 80px;
	background-color: #5b7989;
	width: 50%;
  text-align: left;
  border-radius: 10px 0px 0px 0px;
	}
	#columna2
	{
		height: 80px;
	background-color: #5b7989;
	width: 50%;
  text-align: right;
  border-radius: 0px 10px 0px 0px;
	}
	#columna3
	{
	background-color: #82c3a6;
	width: 100%;
	height: 500px;
	text-align: center;
	}
	#columna4
	{
	background-color: #d5c75f;
	width: 50%;
	height: 400px;
	text-align: center;
	border: 1px;
	}
	#columna5
	{
	background-color: #d5c75f;
	width: 50%;
	height: 400px;
	text-align: center;
	border: 1px;
	}
	#columna6
	{
		height: 250px;
	background-color: #C6d5c5;
	width: 25%;
  text-align: center;
  border-radius: 0px 0px 0px 10px;
	color: black;
	}
	#columna7
	{
		height: 250px;
	background-color: #C6d5c5;
	width: 25%;
  text-align: center;
  border-radius: 0px 0px 0px 0px;
		color: black;
	}
	#columna8
	{
		height: 250px;
	background-color: #C6d5c5;
	width: 25%;
  text-align: center;
  border-radius: 0px 0px 0px 0px;
		color: black;
	}
	#columna9
	{
		height: 250px;
	background-color: #C6d5c5;
	width: 25%;
  text-align: center;
  border-radius: 0px 0px 10px 0px;
		color: black;
	}
	#columna10{
		width: 33.33%;
		background-color: #d5c75f;
		text-align: center;
	}
	#columna11{
		width: 33.33%;
		background-color: #d5c75f;
		text-align: center;
	}
	#columna12{
		width: 33.33%;
		background-color: #d5c75f;
		text-align: center;
	}
	#columna13{
		width: 33.33%;
		background-color: #d5c75f;
		text-align: center;
	}
	#columna14{
		width: 33.33%;
		background-color: #d5c75f;
		text-align: center;
	}
	#columna15{
		width: 33.33%;
		background-color: #d5c75f;
		text-align: center;
	}

@media screen and (max-width: 960px){
  #columna1
  {
		width: 50%;
	height: 80px;
	  border-radius: 10px 0px 0px 0px;
  }
  #columna2{
		width: 50%;
		height: 80px;
		border-radius: 0px 10px 0px 0px;
  }
	#columna6{
		height: 310px;
	}
	#columna7{
		height: 310px;
	}
	#columna8{
		height: 310px;
	}
	#columna9{
		height: 310px;
	}
	#contenido
	{
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}
	img{
	width: 90%;
	}
}
@media screen and (max-width: 700px){
  #columna1
	{
	height: 120px;
	  border-radius: 10px 0px 0px 0px;
	}
  #columna2{
		height: 120px;
		border-radius: 0px 10px 0px 0px;
  }
	#columna6{
		height: 350px;
	}
	#columna7{
		height: 350px;
	}
	#columna8{
		height: 350px;
	}
	#columna9{
		height: 350px;
	}
	#contenido
	{
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}
	img{
	width: 90%;
	}
}

@media screen and (max-width: 640px){
	#texto{
		line-height: 60px;
	}
  #columna1
	{
	height: 120px;
	  border-radius: 10px 0px 0px 0px;
	}
  #columna2{
	height: 120px;
	border-radius: 0px 10px 0px 0px;
  }
	#columna6{
		height: 430px;
	}
	#columna7{
		height: 430px;
	}
	#columna8{
		height: 430px;
	}
	#columna9{
		height: 430px;
	}
	#contenido
	{
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}
	img{
	width: 90%;
	}
}

@media screen and (max-width: 480px){
	#texto{
		line-height: 40px;
	}
	#columna1
	{
	height: 50px;
		width: 100%;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
	}
	#columna2
	{
  	height: 40px;
		width: 100%;
  text-align: center;
	border-radius: 0px 0px 0px 0px;
	}
	#contenido
		{
			width: 100%;
			height: 100%;
			margin: 0 auto;
		}
		#columna3
		{
		width: 100%;
		height: 100%;
		}
		#columna4
		{
		width: 100%;
		height: 100%;
		}
		#columna5
		{
		width: 100%;
		height: 100%;
		}
		#columna6
		{
			width: 100%;
			height: 100%;
			border-radius: 0px 0px 0px 0px;
		}
		#columna7
		{
			width: 100%;
			height: 100%;
			border-radius: 0px 0px 0px 0px;
		}
		#columna8
		{
			width: 100%;
			height: 100%;
			border-radius: 0px 0px 0px 0px;
		}
		#columna9
		{
			width: 100%;
			height: 100%;
			border-radius: 0px 0px 10px 10px;
		}
		#columna10
		{
			width: 100%;
			height: 100%;
		}
		#columna11
		{
			width: 100%;
			height: 100%;
		}
		#columna12
		{
			width: 100%;
			height: 100%;
		}
		#columna13
		{
			width: 100%;
			height: 100%;
		}
		#columna14
		{
			width: 100%;
			height: 100%;
		}
		#columna15
		{
			width: 100%;
			height: 100%;
		}
		img{
		width: 90%;
		}
}
.redes a
{
    display: block;
    color: #ffffff;
    text-decoration: none;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.redes p:nth-child(1) i
{
    background: rgb(59, 89, 152);
    box-shadow: 0 0 0 0 rgba(59, 89, 152,0.6);
}
.redes p:nth-child(2) i
{
    background: rgb(210, 64, 46);
    box-shadow: 0 0 0 0 rgba(210, 64, 46,0.6);
}
.redes p:nth-child(3) i
{
    background: rgb(0, 172, 238);
    box-shadow: 0 0 0 0 rgba(0, 172, 238, 0.6);
}
.redes i
{
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 12px;
    border-radius: 50%;
    font-size: 10px;
    transition: box-shadow .4s ease-in-out;
    -moz-transition: box-shadow .4s ease-in-out;
    -webkit-transition: box-shadow .4s ease-in-out;
    -o-transition: box-shadow .4s ease-in-out;
}
.redes a:hover i, .demo a:active i
{
    box-shadow: 0 0 0 25px transparent;
}
@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot');
	src:url('icomoon.eot?#iefix') format('embedded-opentype'),
		url('icomoon.woff') format('woff'),
		url('icomoon.ttf') format('truetype'),
		url('icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
.icon-google-plus, .icon-facebook, .icon-twitter {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-google-plus:before {
	content: "\e010";
}
.icon-facebook:before {
	content: "\e002";
}
.icon-twitter:before {
	content: "\e003";
}
.img4{
  -webkit-filter:blur(10px);
  filter:blur(10px);
}
.img5, .img7, .img9{
  -webkit-filter:grayscale(100%);
  filter:grayscale(100%);
}
.img6{
  -webkit-filter:sepia(90%);
  filter:sepia(90%);
}

@keyframes body-animacion {
	0% {
		margin-top: 150%
	}
	60% {
		margin-top: -5%'
	}
	100% {
		margin-top: 0%
	}
}

body{
	animation-name: body-animacion;
	animation-duration: 2s;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 0s;
}
