@font-face {
font-family: 'Rouge-Maheira';
src: url('Rouge-Maheira.ttf');
}
body{
  background-color: black;
  font-family: 'Rouge-Maheira';
  }
article
{
	box-sizing: border-box;
	float:left;
	padding: 2%;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  color: white;
}

	#columna1
	{
	background-color: #5b7989;
	width: 50%;
  text-align: left;
  border-radius: 10px 0px 0px 0px;
	}
	#columna2
	{
	background-color: #5b7989;
	width: 50%;
  text-align: right;
  border-radius: 0px 10px 0px 0px;
	}

@media screen and (max-width: 960px){

	#wrapper
	{
		width: 90%;
		margin: 0 auto;
	}
  #columna1
  {
  border-radius: 10px 0px 0px 0px;
  }
  #columna2{
  border-radius: 0px 10px 0px 0px;
  }
}

@media screen and (max-width: 640px){

	#wrapper
	{
		width: 100%;
		margin: 0 auto;
	}
  #columna1
	{
  border-radius: 10px 10px 0px 0px;
	}
  #columna2{
  border-radius: 0px 0px 0px 0px;
  }
}

@media screen and (max-width: 480px){
#wrapper
	{
		width: 100%;
		margin: 0 auto;
	}
	#columna1
	{
	width: 100%;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
	}
	#columna2
	{
	width: 100%;
  text-align: center;
	}}
